<html>
<head>
	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'notes.css') }}" />
</head>

<body class="text-bg-light">
	<form id="image_form" action="/upload" method="POST" enctype="multipart/form-data">
		<input class="form-control form-control-sm" type="hidden" id="id" name="id" value="{{ id }}" />
		<input class="form-control form-control-sm" type="file" id="img_file" name="img_file">
		<br />
		<input class="btn btn-primary" type="submit" value="Upload" />
	</form>
	{% if img_refs|length > 0 %}
		{% for img_ref in img_refs %}
    		<hr />
			<p>
				<input class="btn btn-danger" onclick="window.location='/image_del/{{ id }}/{{ img_ref }}'" value="X" /> Image {{ img_ref }}<br />
				<a href="/image/{{ id }}/{{ img_ref }}" target="img_{{ id }}_{{ img_ref }}"><img class="img_footer" src="/image/{{ id }}/{{ img_ref }}"></a>
			</p>
		{% endfor %}
	{% endif %}
</body>
</html>