<div class="container-fluid" id="tagline_div">
    <div class="row">
        <div class="col">
            <h1>Taglines for tag <a style="color: {{ link_color }}" href="/?filter={{ tag_quot }}">{{ tag }}</a></h1>
            <div>
                {% for note in tagline_list %}
                <p>
                    <b><a style="color: {{ focal_color }}" href="/note/{{ note.timestamp }}">{{ note.title }}</a></b>

                    <br />
                    [ <a href="/edit/{{ note.timestamp }}">edit</a> ]

                    <br />
                    <span style="font-size: smaller">{{ note.dttm_str }}</span>
                    <ul>
                    {% for tagline in note.taglines %}
                        <li>{{ tagline|safe }}</li>
                    {% endfor %}
                    </ul>
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div><!-- tagline_div -->
