<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% if context == 'edit' %}
			Editing
			{% endif %}
			{{ page_title }}
		</title>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" />
		<link rel="stylesheet" href="/static/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename = 'notes.css') }}" />

		<link rel="shortcut icon" href="/favicon.ico">

		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-color/1.2.1/d3-color.js"></script>
		<script src="/static/bootstrap.bundle.min.js"></script>

		<script language="javascript">
				{% if context == 'edit' %}
			    var availablePeople = {{ people_list|tojson }};
				{% else %}
				var availablePeople = "";
				{% endif %}

				{% if autosave_seconds is defined %}
				var AUTOSAVE_SECONDS = {{ autosave_seconds }};
				{% endif %}

				{% if telemetry is defined %}
				var telemetry = {{ telemetry|tojson }};
				{% else %}
				var telemetry = null;
				{% endif %}

		</script>
		<script src="{{ url_for('static', filename = 'notes.js') }}" language="javascript"></script>
	</head>

	<body onload="javascript:page_load('{{ context }}', '{{ active_project }}', '{{ so }}', '{{ sk }}')">

    {% include "header.html" %}

    <!--
    -- include the correct html file based on the context
    -->

    {% if context == 'list' or context == 'tagline' %}
        {% include 'lists.html' %}
    {% endif %}

	{% if context == 'read' %}
		{% include 'read_note.html' %}
	{% endif %}

	{% if context == 'edit' %}
		{% include 'edit_note.html' %}
	{% endif %}

	{% if context == 'error' %}
		{% include 'error.html' %}
	{% endif %}

	{% if context == 'config' %}
		{% include 'config.html' %}
	{% endif %}

	{% if context == 'export' %}
		{% include 'export.html' %}
	{% endif %}

	<!-- ad footer -->
	<!-- iframe src="/static/test_ad_file.html" title="Localnotes Ad Server" height="40px" width="100%" style="border:none" scrolling="no"></iframe -->

	</body>
</html>
