A { text-decoration: none; }
A:hover {text-decoration: underline; }
body { margin: 0px; }
.msg_body { font-size: smaller; display: none; }
form { margin: 0em; }

img {
    border: 1px solid #888888;
}

.img_embedded {
    max-height:200px;
    max-width: 100%;
}

.img_footer {
    max-height:100px;
    max-width: 100%;
}

td, th {
    border: 1px solid black;
    padding: 8px;
}

.counter_table td {
    border: none;
    padding: 0px;
}

.header_table td {
    border: none;
    padding: 0px;
}

table.counter_table td:nth-child(2) {
    text-align: right;
}

.txt_mono {
}

.txt_sans {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.txt_serif {
    font-family: "Times New Roman", Times, serif;
}