
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 1px solid #888888;
}

.img_embedded {
    max-height:200px;
    max-width: 100%;
}

.img_footer {
    max-height:100px;
    max-width: 100%;
}


table.counter_table td:nth-child(2) {
    text-align: right;
}

.msg_body { font-size: smaller; display: none; }

.txt_mono {
    font-family: monospace;
}

.txt_sans {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.txt_serif {
    font-family: "Times New Roman", Times, serif;
}