<div class="container-fluid">

    <div class="row">
            <div class="col d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <div id="read_info_div">
                Tags:
                {% for tag_quot, tag in tag_list %}
                <a href="/?filter={{ tag_quot }}">{{ tag }}</a>
                {% endfor %}
                <br />
                Attendees:
                {% for p_quot, p in people_list %}
                <a href="/?filter={{ p_quot }}">{{ p }}</a>
                {% endfor %}
                <br />
                Created: {{ timestamp_str }}<br />
                Modified: {{ last_edit_dttm }} <br />
                Filename: {{ filename }}<br />
                <a href="/edit/{{ id }}">edit</a> &nbsp;
                | &nbsp; <a href="/clone/{{ id }}">clone</a> &nbsp;
                | &nbsp; <a href="javascript:expand_delete();"><span class="alert-danger">delete</span></a>
                </div>
            </div>
            <div class="col nav col-12 col-lg-auto justify-content-center my-md-0 text-small">
                <span>Info pane: <a href="javascript:info_pane_show();">show</a> | <a href="javascript:info_pane_hide();">hide</a></span>
            </div>
    </div><!-- end of row -->

    <!-- hidden delete form -->
    <div class="row" style="display:none" id="delete_form_div">
        <div class="col-3"></div>
        <div class="col-6">
            <form id="delete_form" name="delete_form" action="/delete" method="POST" enctype="application/x-www-form-urlencoded">
            <br /><br />
            <div class="alert alert-danger">Type "delete" to confirm:</div>
            <input type="hidden" name="id" id="id" value="{{ id }}" />
                    <div class="row">
                        <div class="col"><input class="form-control form-control-sm" type="text" name="delete_text" id="delete_text" placeholder="Type 'delete' to confirm"></div>
                        <div class="col"><input class="btn btn-danger" type="submit" value="Delete" /><input class="btn btn-primary" type="button" onclick="javascript:hide_delete();" value="Cancel" /></div>
                    </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>


    <hr />

    <!-- main row -->
    <div class="row">

        <div class="col" id="read_text_div">
            {{ note_body_md|safe }}
        </div>

        <div class="col-3 col-lg-2 col-xl-2" id="show_images_div">
            {% if img_refs|length > 0 %}

                <p><b>Images ({{ img_refs|length }}):</b></p>

                {% for img_ref in img_refs %}
                <p>
                    <a href="/image/{{ id }}/{{ img_ref }}" target="_new"><img class="img_footer" src="/image/{{ id }}/{{ img_ref }}"></a>
                </p>
                {% endfor %}

            {% endif %}
        </div>

        <div class="col-3 col-lg-2 col-xl-2" id="ul_info_div">
            <b>What links here</b>
            {% if inlinks|length > 0 %}
                <ul>
                    {% for inlink_id, inlink_title in inlinks %}
                    <li><a href="/note/{{ inlink_id }}" target="_new">{{ inlink_title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul><li>(no inlinks)</li></ul>
            {% endif %}
        </div>

    </div>

    <hr />

</div><!-- container fluid -->

